*.1 linguist-language=cplusplus
*.2 linguist-language=cplusplus
*.3 linguist-language=cplusplus
*.4 linguist-language=cplusplus
*.5 linguist-language=cplusplus
*.6 linguist-language=cplusplus
*.7 linguist-language=cplusplus
*.8 linguist-language=cplusplus
