*.1 linguist-language=c++
*.2 linguist-language=c++
*.3 linguist-language=c++
*.4 linguist-language=c++
*.5 linguist-language=c++
*.6 linguist-language=c++
*.7 linguist-language=c++
*.8 linguist-language=c++
